#profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#profile .profile__header{
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
}

#profile .profile__column:first-child{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__column:first-child img{
  border-radius: 50%;
  width: 152px;
  height: 152px;
}


#profile .profile__column{
  width: 70%;

}

.profile__column .profile__title {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.profile__title .profile__username {
  margin-right: 20px;
  font-size: 32px;
  font-weight: 200;
}

.profile__title .profile__edit {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 125px;
  height: 28px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  padding-top: 7px;
  box-sizing: border-box;
}

.profile__edit:visited{
  text-decoration: none;
  color: black;
}

.profile__title .fa{
  font-size: 23px;
  padding-top: 5px;
}

.profile__title .profile__edit:active{
  text-decoration: none;
}


.profile__column .profile__stats{
  display: flex;
  margin-bottom: 25px;
}

.profile__stats .profile__stat{
  margin-right: 40px;
  font-size: 16px;
}

.profile__stat .stat__number{
  font-weight: 600;
}

.profile__bio .profile__full-name{
  font-size: 16px;
  font-weight: 600;
}

#profile .profile__photos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 936px;
  justify-content: ;
}

.profile__photos .profile__photo img{
  width: 100%;
}

.profile__photos .profile__photo {
  margin-right: 30px;
  width: 28%;
  margin-bottom: 35px;
}
